<div class="ui-poptips ui-poptips-success" style="display:none">
    <div class="ui-poptips-cnt">温馨提示内容</div>
</div>

<div class="ui-dialog" id="dialog">
    <div class="ui-dialog-cnt">
      <header class="ui-dialog-hd ui-border-b">
            <h3>温馨提示</h3>
       </header>
        <div class="ui-dialog-bd">
            <h4>确定要退出吗？</h4>
            <div> </div>
        </div>
        <div class="ui-dialog-ft">
            <fbutton type="button" class="delete-cancel" data-role="button">取消</fbutton>
            <fbutton type="button" class="delete-sub">确定</fbutton>
        </div>
    </div>        
</div>

</body>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/public.js"></script>
<script src="/layer/layer.js"></script>