<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name='description', content='PcsCloud'>
  <meta name='author', content='raodqi'>
  <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen" style="width:50px;height:40px;">
  <title>MoreAPI</title>
  <!-- link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet', type='text/css'> -->

  <link href='/css/bootstrap.min.css', rel='stylesheet', type='text/css'>
  <link href='/css/frozen.css', rel='stylesheet', type='text/css'>
  <link href='//at.alicdn.com/t/font_yjxufa5ls0jm7vi.css', rel='stylesheet', type='text/css'>
  <link href='/css/public.css', rel='stylesheet', type='text/css'>
  <script src="/js/jquery.min.js"></script>
  <script type="text/javascript">
 </script>
</head>
